<h3>Place your ships, <%= @name %>.</h3>
 <% if @error != nil %>
 <p><%= @error %></p>
 <% end %>
<% unless @fleet.empty? %>
<form action="/ship_placement">
  <p>Choose type of ship:
  <select name="type">
    <% @fleet.each do |ship| %>
      <option value=<%= ship[0] %>><%= ship[1] %></option>
    <% end %>
  </select></p>
  <p>Enter ship position (e.g. D4):
  <input type="text" name="position" size="4" maxlength="3" required>
  <p>Choose orientation:
  <input type="radio" name="orientation" value="horizontally" checked>Horizontal
  <input type="radio" name="orientation" value="vertically">Vertical</p>
  <input type="submit" value="Submit"></p>
</form>
<% end %>
<% if @fleet.empty? %>
  <div>
    <form action="/game">
      <input type="submit" value="Start game">
    </form>
  </div>
<% end %>
<%= @show_board %>
